{% extends "base.html" %}

{% block header %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg') }}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Moderation</h1>
          <span class="subheading">Deleting: {{ post.title }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <p>You are about to delete a post by <strong>{{ post.author.name }}</strong>.</p>
      <p>Please provide a reason. This will be emailed to the user.</p>
      
      <form method="POST" novalidate>
        {{ form.hidden_tag() }}

        <div class="mb-3">
          {{ form.reason.label(class="form-label") }}
          {{ form.reason(class="form-control", rows="5") }}
          
          {% if form.reason.errors %}
            <div class="text-danger">
              {% for error in form.reason.errors %}
                <small>{{ error }}</small>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        {{ form.submit(class="btn btn-danger") }}
        <a href="{{ url_for('get_all_posts') }}" class="btn btn-secondary ms-2">Cancel</a>
      </form>

    </div>
  </div>
</div>
{% endblock %}
