<footer class="border-top py-4 mt-auto">
  <div class="container px-4 px-lg-5">
    
    <div class="d-flex flex-column flex-md-row justify-content-end align-items-center">
      
      <div class="small text-muted fst-italic mb-3 mb-md-0">
        Copyright &copy; Blog Website <script>document.write(new Date().getFullYear())</script>
      </div>

      <!-- <div class="social-icons">
        <a href="#!" class="text-muted me-3">
          <i class="fab fa-twitter fa-lg"></i>
        </a>
        <a href="#!" class="text-muted me-3">
          <i class="fab fa-facebook-f fa-lg"></i>
        </a>
        <a href="#!" class="text-muted">
          <i class="fab fa-github fa-lg"></i>
        </a>
      </div> -->

      </div>
  </div>
</footer>
