{% extends "base.html" %}

{% block header %}
<header
  class="masthead"
  style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg') }}')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Sachin's Blog</h1>
          <span class="subheading">A collection of random musings.</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">

      <!-- Flash Messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% for post in all_posts %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h2 class="post-title">{{ post.title }}</h2>
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
          </a>

          <p class="post-meta">
            Posted by <b>{{ post.author.name }}</b>
            on {{ post.date.strftime('%B %d, %Y') }}

            {% if current_user.is_authenticated and current_user.role == "admin" %}
              <form
                method="POST"
                action="{{ url_for('delete_post', post_id=post.id) }}"
                class="d-inline"
                onsubmit="return confirm('Are you sure you want to delete this post?');"
              >
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button
                  type="submit"
                  class="btn btn-danger btn-sm ms-2"
                  style="font-size: 0.7rem;"
                >
                  Delete
                </button>
              </form>
            {% endif %}
          </p>
        </div>

        <hr class="my-4" />
      {% endfor %}

      {% if current_user.is_authenticated and current_user.role == "admin" %}
        <div class="d-flex justify-content-end mb-4">
          <a class="btn btn-primary" href="{{ url_for('add_new_post') }}">
            Create New Post
          </a>
        </div>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
